
.burgerMenu {
    position: relative;
    display: flex;
        justify-content: center;
        align-items: center;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
height: 100%;
}